body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #92817A;
  color: #333;
}

header {
  background-color: #4A5043;
  color: #D9CAB3;
  text-align: center;
  padding: 15px;
}

.budget-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  background: #F1DABF;
  border: 1px solid #FFFBFF;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  border-radius: 8px;
}

button {
  background-color: #4A5043;
  color: #D9CAB3;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  opacity: 0.8;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative
  padding: 10px 20px;
  border-bottom: 2px solid #ddd;
  background-color: #362417;
}

.navbar nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-home {
  position: absolute;
  left: 20px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
   color: #ff8c00;
}

.nav-home:hover {
  text-decoration: underline;
}

.navbar h1 {
  margin: 0;
}
